/* General styles for the header */
.header {
    background-color: #03cafc;
    /* Fondo oscuro */
    padding: 10px 0;
    position: relative;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

.logo_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 150px;
    /* Ajusta el tamaño del logo */
}

/* Navbar styles */
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
    /* Color del borde del botón en modo móvil */
}

.a {
    color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Styles for the navigation items */
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 20px;
    margin-bottom: -10px;

}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 20px;
    color: #070404;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f39c12;
    /* Color al hacer hover */
}

.navbar-nav .nav-item .active .nav-link {
    color: #000000;
    /* Color para el link activo */
}

/* Login/Register buttons */
.login_btn .nav-link {
    background-color: #f39c12;
    /* Fondo naranja */
    color: #720a0a;
    /* Texto blanco */
    padding: 8px 16px !important;
    border-radius: 20px;

    transition: background-color 0.3s ease;
}

.login_btn .nav-link:hover {
    background-color: #c56715;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar-collapse {
        background-color: #34495e;
        /* Fondo oscuro en modo colapsado */
        padding: 20px;
        border-radius: 10px;
    }

    .login_btn .nav-link {
        width: 100%;
        /* Botones al 100% en móviles */
        text-align: center;
    }
}

@media (max-width: 576px) {
    .logo img {
        max-width: 120px;
        /* Logo más pequeño en pantallas pequeñas */
    }

    .navbar-toggler {
        margin-top: 20px;
        /* Ajusta el margen superior del botón de colapso */
    }
}

/*estilos banner*/
.banner_main {
    background-color: #c6ced0;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}

#banner1 .carousel-caption {
    position: inherit;
    padding: 0;
}

#banner1 .carousel-indicators {
    display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
    width: 62px;
    height: 60px;
    background: transparent;
    border: #1a1a1a solid 2px;
    opacity: 1;
    font-size: 30px;
    color: #131215;
    border-radius: 60px;
    top: 43%;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
    background: transparent;
    border: #03cafc solid 2px;
    color: #03cafc;
}

#banner1 a.carousel-control-prev {
    position: absolute;
    left: 20px;
    bottom: 0px;
}

#banner1 a.carousel-control-next {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/*perfiles dentistas*/

.about {

    border-bottom: #000 solid 1px;
    padding: 120px 0 90px 0;


}

.about .about_img {
    margin-left: 40px;
}

.about .titlepage::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 411px;
    right: -30px;
    background: url(../images/about_right_cross.jpg);
    background-repeat: no-repeat;
    top: -27px;
    z-index: -1;
}

.about .about_img figure {
    margin: 0;
}

.about .titlepage {
    border: #000 solid 1px;
    padding: 40px 40px;
    z-index: 10018;
    background: #fff;
    margin-right: 40px;
}

.about .titlepage p {
    color: #2a2a2c;
    font-size: 17px;
    line-height: 35px;
    font-weight: 400;
    padding-top: 20px;
}

.about .read_more {
    border: #1a1a1a solid 2px;
    color: #1a1a1a;
    font-weight: 500;
    margin-top: 44px;
}

/** contact section **/

.contact {
    padding-bottom: 90px;
    padding-top: 90px;
    background-color: #042431;
    margin-bottom: -50px;
}

.contact .main_form h3 {
    color: #4b4b4c;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    display: block;
    font-weight: 600;
    padding: 0;
}

#map {
    height: 100%;
    min-height: 732px;
}

.main_form {
    position: absolute;
    z-index: 999;
    background: #fff;
    padding: 40px 50px;
    margin-top: 107px;
}

.main_form .contactus {
    border-bottom: #111111 solid 1px;
    margin-bottom: 25px;
    width: 100%;
    height: 57px;
    background: transparent;
    color: #4b4b4c;
    font-size: 18px;
    font-weight: normal;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}

.main_form .contactusmess {
    border-bottom: #111111 solid 1px;
    margin-bottom: 25px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 14px;
    background: transparent;
    color: #4b4b4c;
    ;
    font-size: 18px;
    font-weight: normal;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}

.send_btn {
    background: #03cafc;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    color: #fff;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    transition: ease-in all 0.5s;
    text-transform: uppercase;
}

.send_btn:hover {
    background: #4b4b4c;
    transition: ease-in all 0.5s;
}

#request *::placeholder {
    color: #4b4b4c;
    opacity: 1;
}