.nav-tabs .nav-link {
    color: #000000;
}
.nav-tabs .nav-link.active {
    color: #a3578d !important;
    font-weight: bold !important;
}
.btn-primary { 
    background-color: #a3578d !important;
    border-color: #a3578d !important;
}
.btn-primary:hover {
    background-color: #dec8d8;
    border-color: #dec8d8;
}
.form-check-input:checked {
    background-color: #a3578d;
    border-color: #a3578d;
}